*{
    padding: 0;
    margin: 0;
}
html,body{
    width:100%;
    height: 100%;
    background: yellow;
}
.wrapper{
    width: 900px;
    height:950px;
    margin:0 auto;
}
#header{
    background:red;
    height:12%;
    border: 2px solid black;
    border-style:solid;
    margin-bottom: 5px;

}
#contentContainer{
    background:blue;
    height:70%;
    width:100%;
    margin-bottom: 5px;
    overflow:auto;
}
#gameContainer{
    display:none;
    background:silver; 
    height:70%;
    width:100%;
    margin-bottom:5px;
    overflow: auto;
   
}
#footer{
    background: grey;
    height: 14%;
}

#BtnStart{
    width : 200px;
    height: 100px;
    position: relative;
    display: block;
    margin: 0 auto;
    top:50%;
}
.BtnGame{
    height:24%;
    width:15%;
    background:green;
    position:relative;
    margin:0 0;
    left:35px;
    top:15px;
}
#BtnMenu{
    display:none;
}
#score{
    float: right;
}

.clock {
 position: relative;
 padding-top: 0px;
 margin-left: -314px;
 
 left: 50%;
 height:90%;
 width: 800px;

 transform: scale(.54);
 -ms-transform: scale(.54); 
 -webkit-transform: scale(.54); 
 -o-transform: scale(.54); 
 -moz-transform: scale(.54); 
}